body {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 26px;
		font-style: normal;
		color: #2e2e2e;
	}

.aside-text {
	font-size: 15px;
	line-height: 22px;
}

h3 {
	font-weight: 600;
	font-size: 23px;
}

h2.article-post {
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #454545;
	font-size: 24px;
}

.header-separator {
	width: 5%;
	height: 1px;
	content: "";
    background: #adadad;
    margin: 0 auto;
    margin-bottom: 20px;
}

.post-date {
	font-size: 14px;
	text-transform: uppercase
}

.page-date {
	margin-bottom: 2px
}

.footer-box hr {
	margin-top: 30px;
	margin-bottom: 10px
}

.footer-text {
	font-size: 14px;
	margin-bottom: 15px
}

.paginate {
	margin-top:10px;
	font-size: 15px;
}

.last-page {
	color: #dedede;
}

.article-content:before,
.article-content:after {
	content: " ";
	display: table;
}

.article-content:after {
	clear: both;
}

.hr-header {
	margin-bottom: 0px;
}

.hr-info {
	margin-bottom: 5px;
}

.info-text {
	font-size: 14px;
}

a.mobile-btn {
	color: #303030;
}

a.mobile-btn:hover {
	color: #c73d02;
}

.close-icon {
	font-size: 14px;
	display: none;
	color: #c73d02;
}

.mobile-toggle {
	margin-top: 0px;
	border: 1px solid #eeeeee;
	border-top: none;
	width: 50px;
	float: right;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 6px;
	margin-bottom: -5px;
	text-align: left;
}

.mobile-info {
	display: none;
	width: 70%;
	margin: 0 auto;
	padding-top: 35px;
	
}

.mobile-nav.info-collapse .open-icon {
	display: none;
}

.mobile-nav.info-collapse .close-icon {
	display: inline-block;
}

.mobile-nav.info-collapse .mobile-info {
	display: block;
}

.mobile-nav.info-collapse .info-text {
	color: #c73d02;
}

p.info-contact {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 4px;
}

.mobile-info .aside-text.about-mobile {
	line-height: 23px;
}

div.aside-text.contact-mobile p {
	margin-bottom: 5px;
}

.article-margin {
	height: 24px;
	display: table;
	content: ""
}

.fa.fa-github {
	font-size: 20px;
}

.aside-info {
	display: none;
}

@media (max-width: 465px) {
	.paginate-nr {
		width:100%;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 19px;
		line-height: 29px;
	}

	h2.article-post {
	font-size: 30px;
	}

	.footer-text {
	font-size: 16px;
	margin-bottom: 20px
	}

	.paginate {
		font-size: 19px;
	}

	.mobile-toggle {
		visibility: hidden;
	}

	.aside-info {
	display: block;
	}

	.mobile-nav.info-collapse .mobile-info {
		display: none;
	}
}


